extends ./../layout/main.pug

block variables
  - var title = 'Каталог MD'

block content
    include ../includes/header_fixed.pug

    include ../includes/header.pug

    section.be_healthy
        div.wrapper.be_healthy__wrapper
            h2.be_healthy__h2 Будьте здоровы
            +search()
            +search_tag(2)

    section.breadcrumbs
        div.wrapper.breadcrumbs__wrapper
            div.breadcrumbs__list
                a(href="#").breadcrumbs__item Аптека
                a(href="#").breadcrumbs__item Каталог
                a(href="#").breadcrumbs__item Лекарства и БАД
                a(href="#").breadcrumbs__item Простуда и грипп
                span Арбидол противовирусное от гриппа и ОРВИ капс. 100мг 20шт

    section.product
        div.wrapper.product__wrapper
            div.product__container
                div.product__main
                    div.product__left
                        div.product__hit Хит продаж
                        div.product__images
                            img(src=require("../../images/catalog/1.png").default)
                        div.product__buy
                            div.product__buy_price
                                div.product__buy_price_card
                                    span От 448 Руб
                                    +icon_card()
                                div.product__buy_price_nal
                                    span От 448 Руб
                                    +icon_nal()
                            a(href="").product__buy_a Купить
                        div.product__into Внешний вид товара может отличаться от изображённого на фотографии
                    div.product__right
                        div.product__title Арбидол противовирусное от гриппа и ОРВИ капс. 100мг 20шт
                        div.product__delivery возможна доставка на дом
                        div.product__communication
                            div.product__communication_block
                                div.product__raiting
                                    +svgStarF()
                                    +svgStarF()
                                    +svgStarF()
                                    +svgStarF()
                                    +svgStarP()
                                div.product__reviews 101 отзыв
                            div.product__availability В наличии
                        div.product__meta_list
                            div.product__meta_item
                                span Бренд:
                                spna Арбидол
                            div.product__meta_item
                                span Производитель:
                                spna ОТИСИФАРМ
                            div.product__meta_item
                                span Завод производитель:
                                spna Фармстандарт, Россия
                            div.product__meta_item
                                span Форма выпуска:
                                spna Капсулы
                            div.product__meta_item
                                span Количество в упаковке:
                                spna 20
                            div.product__meta_item
                                span Действующие вещества:
                                spna умифеновир
                            div.product__meta_item
                                span Возраст:
                                spna 6 лет
                            div.product__meta_item
                                span Дозировка:
                                spna 100 мг
                            div.product__meta_item
                                span Назначение:
                                spna Противовирусные, иммунокорректоры


                div.product__info
                    div.product__info_images
                        img(src=require("../../images/catalog/1.png").default)
                    div.product__info_block
                        a(href="#").product__info_dow
                            img(src=require("../../images/pdf.png").default)
                            span Скачать инструкцию
                        div.product__info_social
                            div.product__info_social_title Поделиться в соц. сетях
                            div.product__info_social_element
                                a(href="")
                                    img(src=require("../../images/social/od2.png").default)
                                a(href="")
                                    img(src=require("../../images/social/tw2.png").default)
                                a(href="")
                                    img(src=require("../../images/social/vk2.png").default)
                                a(href="")
                                    img(src=require("../../images/social/od2.png").default)
                                a(href="")
                                    img(src=require("../../images/social/ml.png").default)



                div.product__menu
                    ul
                        li
                            a(href="#") Аналоги
                        li
                            a(href="#") Инструкция
                        li
                            a(href="#") Форма выпуска
                        li
                            a(href="#") Отзывы
                        li
                            a(href="#") Наличие и цены
            div.product_analogues
                div.product_analogues__list
                    +card_vertical("catalog/1.png", "Арбидол противовирусное от гриппа и ОРВИ капс. 100мг 20шт", "Арбидол")
                    +card_vertical("catalog/2.png", "Витамин С Liksivum таб шип. 900мг 20 шт", "Liksivum")
                    +card_vertical("catalog/3.png", "ГриппоФлю Экстра от простуды и гриппа лимонный 3 шт, порошок", "ГриппоФлю")

                div.product_analogues__with
                    div.product_with
                        h2.product_with__h2 С этим также покупают
                        div.product_with__list
                            +card_mini("card-mini1.jpg", "Тест - система для выявления антигена")
                            +card_mini("card-mini2.jpg", "Тест - система для выявления антигена")
            include ../includes/product/product_instruction.pug

            include ../includes/product/product_description.pug

            include ../includes/product/product_release.pug

            include ../includes/product/product_reviews.pug

            include ../includes/product/product_pharmacy.pug

            include ../includes/product/product_abc.pug


    include ../includes/social.pug

    include ../includes/footer.pug